@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');



body {
    font-family: 'poppins',  sans-serif;
    background-color: #242933;
}


form {
    font-size:14px;
  	color: #afbde5;
    font-weight: 200;
    background-color: #2f3644;
    border: 2px solid #40465d;
    border-radius: 5px;
    padding: 35px;
}

.containerForm {
    max-width: 400px;
    margin: 0 auto;
}

.inputContainerForm {
    margin: 1em auto;
    height: 70px;
    display: block;
    text-align: left;
}

.inputContainerForm input {
       width: 100%;
       box-sizing: border-box;
       padding: 10px;
       border-radius: 5px;
}

.button{
    background-color: #6c63ff;
    width: 100%;
    margin: 15px auto 20px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    color: #eae8ff;
    cursor: pointer;
}

span {
    width: 100%;
    box-sizing: border-box;
    padding: 1px;
    font-size: 12px;
    color: #ec5e5c;
}

.invalid {
  border-color: #ec5e5c;
  background-image: url('images/error-icon.svg');
  background-repeat: no-repeat;
  background-position-x: 300px;
  background-position-y: 12px;
  background-size: 12px;
}

.valid {
  border-color: #4fcc65;
  background-image: url('images/success-icon.svg');
  background-repeat: no-repeat;
  background-position-x: 300px;
  background-position-y: 12px;
  background-size: 12px;
}
